@page
@model GmTool.Pages.LeaderBoards.LeaderBoardRewards.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>LeaderBoardReward</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LeaderBoardReward.leader_board_no)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LeaderBoardReward.leader_board_no)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LeaderBoardReward.item_id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LeaderBoardReward.item_id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LeaderBoardReward.item_count)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LeaderBoardReward.item_count)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.LeaderBoardReward.leader_board_reward_no">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
