@page
@model GmTool.Pages.Members.CheatModel

@{
    ViewData["Title"] = "Cheat";
}


<h4>Member</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Member.member_no" />
            @*<div class="form-group">
                <label asp-for="Member.user_no" class="control-label"></label>
                <input asp-for="Member.user_no" class="form-control" />
                <span asp-validation-for="Member.user_no" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="Member.player_id" class="control-label"></label>
                <input asp-for="Member.player_id" class="form-control" />
                <span asp-validation-for="Member.player_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Member.user_name" class="control-label"></label>
                <input asp-for="Member.user_name" class="form-control" />
                <span asp-validation-for="Member.user_name" class="text-danger"></span>
            </div>
        </form>
    </div>
</div>

<h1>Cheat</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DebugCommand[0].ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DebugCommand[0].Command)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DebugCommand[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DebugCommand[0].Target)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DebugCommand[0].Param1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DebugCommand[0].DefaultValue1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DebugCommand[0].Param2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DebugCommand[0].DefaultValue2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DebugCommand[0].Param3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DebugCommand[0].DefaultValue3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DebugCommand[0].Param4)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DebugCommand[0].DefaultValue4)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.DebugCommand)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Command)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Target)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Param1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DefaultValue1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Param2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DefaultValue2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Param3)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DefaultValue3)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Param4)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DefaultValue4)
                </td>
                <td>
                    <a asp-page="./CheatDo" asp-route-id="@Model.Member.member_no" asp-route-playerid="@Model.Member.player_id" asp-route-cmd="@item.ID">Cheat</a>


                    @*<div class="col-lg-1">
                            <form asp-page-handler="view" method="post">
                                <button class="btn btn-default">View</button>
                                <input type="hidden" name="playerId" value="@Model.Member.player_id" />
                                <input type="hidden" name="Command" value="@item.Command" />
                                <input type="hidden" name="Param1" value="@item.DefaultValue1" />
                                <input type="hidden" name="Param2" value="@item.DefaultValue2" />
                                <input type="hidden" name="Param3" value="@item.DefaultValue3" />
                                <input type="hidden" name="Param4" value="@item.DefaultValue4" />

                            </form>
                        </div>*@


                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
